# Data files (Keep these ignored, partner must download)
data/*.csv
data/*.npz
data/*.pkl
data/*.zip

# Allow the output folder contents (Models/Plots)
!outputs/

# Python
__pycache__/
*.pyc
venv/
.env

# OS
.DS_Store